/home/s133583/DTU/courses/ml_ops/project/MLOps_Amazon_review_project/data/raw/Grocery_and_Gourmet_Food.json.gz
/home/s133583/DTU/courses/ml_ops/project/MLOps_Amazon_review_project/models/model_optsgd_bs20_do0.15_lr0.01.pth
/data
/models
